h2 {
  color: orange;
}

p {
  color: red;
}

.webkurs {
  color: goldenrod;
}

#online {
  color: blue;
}

.text-green {
  color: green;
}

/* Element Selektoren */
body {
  font-size: 20px;
}

h1 {
  color: goldenrod;
}

h2 {
  background-color: darkolivegreen;
  color: white;
}

a {
  color: red;
}

/* Klassen Selektoren */
.text-green {
  color: greenyellow;
  background-color: grey;
}

.text-pink {
  background-color: hotpink;
}

/* ID Selektoren */
#unique-paragraph {
  background-color: slateblue;
  color: white;
  padding: 10px;
}
